<div class="row">
	<?php
	foreach($_SESSION['error'] as $key => $msg):?>
	<div class="col-lg-12" style='padding-left:30px;padding-right:30px'>
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fa fa-ban"></i> Error</h4>
			<?php echo $_SESSION['error'][$key];?>
		</div>
	</div>
	<?php unset($_SESSION['error'][$key]);?>
<?php endforeach;?>
</div>